section .cart{
    position: relative;
    border: 1px solid #ccc;
}
.amount span{
    color: crimson;
    padding: 0 20px;
}
.amount .count{
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.delete{
    position: absolute;
    top:0;
    right: 5px;
    color: crimson;
    cursor: pointer;
    font-weight: 900;
}
.total{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total a{
    text-decoration: none;
    background: rgb(52, 102, 6);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}
.total h3{
    margin-right: 50px;
    color: rgba(15, 141, 224, 0.911);
}