header{
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}
header .logo a{
    text-decoration:solid;
    text-transform: full-size-kana;
    color: rgb(5, 64, 153);
}
header nav{
    display: flex;
}
nav ul li{
    list-style: square;
    display: inline-table;
}
nav ul li a{
    text-decoration: solid;
    text-transform: uppercase;
    color: #555;
    padding: 0 15px;
}
nav ul li a:hover{
    color: rgba(9, 32, 241, 0.815);
}
nav .nav-cart{
    cursor: pointer;
    position: relative;
}
nav .nav-cart span{
    position: absolute;
    top:-11px;
    right: -7px;
    background: rgb(214, 14, 107);
    font-size: 5px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}
header .menu,
header .close{
    cursor: pointer;
    display: none;
}
@media (max-width: 650px){
    header ul{
        position: fixed;
        top:0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        background: white;
        z-index: 99;
        opacity: 0.97;
        transition: 0.5s linear;
    }
    header .menu,
    header .close{
        display: block;
    }
    header .close{
        position: absolute;
        top:10px;
        right: 20px;
    }
    header ul.toggle{
        left: 0;
    }
}