#product{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    min-width: 300px;
    min-height: 400px;
    border: 1px solid rgb(93, 169, 204);
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px rgb(187, 105, 123);
    margin: 10px;
    transition: 0.5s linear;
}
.card:hover{
    box-shadow: 2px 2px 2px 1px rgba(74, 231, 35, 0.2);
}
.card img{
    max-width: 500px;
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover;
}
.card h3{
    text-transform: uppercase;
    margin: 10px 0;
}
.card h3 a{
    text-decoration: none;
    color: #333;
}
.card h3 a:hover{
    color: rgb(11, 119, 146);
}
.card span{
    color: rgb(10, 51, 231);
}
.card p{
    margin: 10px 0;
}
.card button{
    border: none;
    outline: none;
    background: rgb(82, 203, 219);
    color: rgb(15, 15, 15);
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
}